:root{
  --header-height: attr(height)
}
.App {
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding:20px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}
.canvas {
  /* float: left!important; */
  height:100vh!important;
  position: absolute!important;
  top:0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
